* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #e0e0e0;
  background: linear-gradient(225deg, #916430 0%, #e52e71 45%, #4facfe 100%);
  background-attachment: fixed;
  padding: 40px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(0deg, #0e2cd5, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 30px rgba(0, 129, 234, 0.66);
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #000000;
  max-width: 800px;
  text-align: center;
  margin-bottom: 40px;
  border-left: 4px solid #e52e71;
  padding-left: 15px;
  background: rgba(255, 255, 255, 0.217);
  padding: 15px;
  border-radius: 0 10px 10px 0;
}

h3 {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #ffffff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 5px;
  width: 100%;
  max-width: 800px;
}

p {
  max-width: 800px;
  font-size: 1rem;
  color: #cfd8dc;
  margin-bottom: 20px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

b,
u,
i {
  color: #4facfe;
}

del {
  color: #777;
}

abbr {
  text-decoration: none;
  border-bottom: 2px double #fff;
}

audio {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 11px 15px 20px rgba(207, 157, 82, 0.3);
  transition: transform 0.5s ease;
}

img {
  height: auto;
  width: 100%;
  max-width: 250px;
  border-radius: 12px;
  box-shadow: 0 10px 50px rgba(250, 0, 0, 0.4);
  transition: transform 0.5s ease;
  display: block;
  margin: 10px auto;
}

img:hover {
  transform: scale(1.05);
}

video {
  height: auto;
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #000;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1rem;
  }

  img {
    max-width: 200px;
  }
}
